
h1{font-family: Georgia, 'Times New Roman', Times, serif;
color:#4aaaa5;background-color: white;}

h2, h3, h4, h5{font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #4aaaa5;}

.btn-group button {
    background-color: white;
    border: transparent;
    color: black;
    padding: 10px;
    padding-top: 25px;
    cursor: pointer;
    float: right;
    margin-right: 2px; margin-left: 2px;
    font-size: 20px;
    }

.btn-group button:hover{
        background-color: goldenrod;
    }

.header{
    background: white;
    margin-top: -9px;
    margin-right: -9px;
    margin-left: -9px;
    padding-left: 15px;
}

header{ 
background: teal;
width: 90px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

}


body {
    background-color: rgb(1, 102, 1)  ;background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
}

.about-me {
    width: 900px;
    height: auto;
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 3px; padding-left: 12px; padding-right: 3px;
    margin-left: 15%;
    padding-bottom: 0px;
}

.footer{
    text-align: center;
    margin-left: -9px;
    margin-right: 0px;
    margin-bottom: -20px;
    padding-bottom: 19px;
    padding-right: 15px;
    background-color: gray;
    box-shadow: 0 50vh 0 50vh gray;
    }

.img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    margin-top: 10px:
}